@import "src/assets/style/scss/colors";

input.ng-invalid {
  border-color: $validation-fail;
}

select.ng-invalid {
  border-color: $validation-fail;
}

label {
  $distance: 10px;
  margin: $distance 0px $distance 0px;
}
