@import "src/assets/style/scss/colors";

div
{
  background-color: $primary-color;
  list-style-type: none;
}

a {
  color: $text-color-light;
}

.row .container .row {
  background-color: $secondary-color;
}
