<div
  class="row">
  <a href="#">-</a>
<!--  <a href="#">KFUM & KFUK I Esbjerg - BU</a>-->
</div>
<div
  class="row">
  <a href="#">-</a>
<!--  <a href="#">Aftenaktiviteter</a>-->
</div>
<div
  class="row">
  <a href="#">-</a>
<!--  <a href="#">Eftermiddagsåbent</a>-->
</div>
<div
  class="row">
  <a href="#">-</a>
<!--  <a href="#">Familieklub</a>-->
</div>
<div
  class="row">
  <a href="members">KFUMdisko</a>
  <div class="container">
    <div class="row">
      <a href="members/list">Medlemmer</a>
    </div>
    <div class="row">
      <a href="members/create">Opret nyt medlem</a>
    </div>
  </div>
</div>
<div
  class="row">
  <a href="#">-</a>
<!--  <a href="#">Konfirmandklubben</a>-->
</div>
<div
  class="row">
  <a href="#">-</a>
<!--  <a href="#">Local2Local</a>-->
</div>
<div
  class="row">
  <a href="#">-</a>
<!--  <a href="#">Unge Voksne</a>-->
</div>
