<div
  id="nav-headline-bu"
  class="row">
  <a href="#">KFUM & KFUK I Esbjerg - BU</a>
</div>
<div
  id="nav-headline-aften"
  class="row">
  <a href="#">Aftenaktiviteter</a>
</div>
<div
  id="nav-headline-eftermiddag"
  class="row">
  <a href="#">Eftermiddagsåbent</a>
</div>
<div
  id="nav-headline-familie"
  class="row">
  <a href="#">Familieklub</a>
</div>
<div
  id="nav-headline-disko"
  class="row">
  <a href="#">KFUMdisko</a>
</div>
<div
  id="nav-headline-konfirmation"
  class="row">
  <a href="#">Konfirmandklubben</a>
</div>
<div
  id="nav-headline-local"
  class="row">
  <a href="#">Local2Local</a>
</div>
<div
  id="nav-headline-voksne"
  class="row">
  <a href="#">Unge Voksne</a>
</div>
