/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html * {
  font-family: 'Oswald', sans-serif;
}

body {
  background: url("assets/img/cover.jpg") no-repeat center center fixed;
  background-size: cover;
}
